<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="POMSuite" verbose="1" >
  <listeners>
        <listener class-name="org.report.ExtentReporterNG" />
    </listeners>
  <test name="LoginTestcases" >
    <classes>
       <class name="org.tests.HotelAppTests" />
    </classes>
  </test>
 

</suite>
